<!-- start custom head snippets -->
<!--
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src https://*; child-src 'none';" />
-->
<META HTTP-EQUIV='Content-Security-Policy' CONTENT="default-src 'self' ; script-src 'self' 'unsafe-inline' *.github.com/kcmazie www.google-analytics.com; style-src 'self' ;">`
<meta name="google-site-verification" content="3Mjj4u4XYtsbrhG_FZ4zlu-SCMX8VFkzGBNgBQcCNJA" />
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
